.unit-list {
  width: max-content;
  min-width: 80%;
  padding: 5px 20px;
  margin: auto;
}

.subunit-stats {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0 15px;
}

.subunit-weapons, .subunit-stats {
  font-size: 0.8rem;
  .unit-weapon {
    min-height: 18.3px;
  }
}

td.MuiTableCell-body {
  max-width: 400px;
  text-align: justify;

  &.faction-section {
    text-align: center;
    letter-spacing: 2.5px;
    background-color: #3e3e3e;
    text-transform: uppercase;
  }
}

.unit-weapon {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;

  > span {
    flex-grow: 1;
  }
}

.weapon-popover {
  pointer-events: none;

  .MuiPopover-paper {
    pointer-events: all;
  }
}

.sort-editor {
  margin-bottom: 10px;

  .MuiButton-root {
    min-width: 36.5px;
  }
}

//
//
//.unit-stat {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
